<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta content="text/html; charset=utf-8" />
    <link
      href="{{ url_for('static', path='/css/scm_style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="stylebody">
    <div class="topnav-right">
      <a href="/changepassword">ChangePassword</a>
      <a href="/logout">Logout</a>
    </div>
    <div class="container"></div>
    <div class="row" style="float: left">
      <img
        src="{{ url_for('static', path='/img/exf_logo.png') }}"
        alt="exf logo"
        style="background-color: white"
        width="30"
      />
    </div>
    <h1
      class="display-5"
      style="text-align: center; padding-left: 200px; color: rgb(67, 161, 223)"
    >
      <span style="background-color: white">SCMXpertlite</span>
    </h1>
    <div class="row my-5">
      <form class="styleform">
        <h1 class="display-5" style="text-align: center; color: blue">
          <span>Welcome {{user['name']}}</span>
        </h1>
        <h3 class="display-5" style="text-align: center; color: #054e23">
          Email - {{user['email']}}
        </h3>
        <h3 class="display-5" style="text-align: center; color: #054e23">
          Role - {{user['role']}}
        </h3>
        {% if shipment|length > 0 %}
        <h3
          class="display-5"
          style="text-align: center; color: rgb(139, 0, 93)"
        >
          Shipments
        </h3>

        {% for shpment in shipment %}
        <div class="text sign-up-text">
          <label
            style="
              display: block;
              text-align: center;
              font-size: x-large;
              background-color: antiquewhite;
            "
          >
            <a href="/datastream/{{shpment['shipNum']}}" style="color: green">
              # {{shpment['shipNum']}}</a
            ></label
          >
        </div>

        {% endfor %} {% else %}
        <h3
          class="display-5"
          style="text-align: center; color: rgb(139, 0, 93)"
        >
          No Shipments Created
        </h3>

        {% endif %}
        <div class="text sign-up-text" style="padding: 30px">
          <label
            style="
              display: block;
              text-align: center;
              font-size: large;
              background-color: aqua;
            "
          >
            <a href="/shipment" style="color: rgb(128, 0, 38)"
              >Click here to Create New Shipment</a
            ></label
          >
        </div>
      </form>
    </div>
  </body>
</html>
