<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <meta content="text/html; charset=utf-8" />
    <link
      href="{{ url_for('static', path='/css/scm_style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="stylebody">
    <div class="topnav-right">
      <h3><a href="/login">Back</a></h3>
    </div>
    <div class="container">
      <div class="row">
        <div style="float: left">
          <img
            src="{{ url_for('static', path='/img/exf_logo.png') }}"
            alt="exf logo"
            width="30"
            style="background-color: white"
          />
        </div>
        <h1
          class="display-5"
          style="text-align: center; color: rgb(67, 161, 223)"
        >
          <span style="background-color: white">SCMXpertlite</span>
        </h1>
      </div>
      <form method="POST" class="styleform">
        <label
          style="
            display: block;
            text-align: center;
            margin-bottom: 10px;
            font-size: x-large;
            color: darkmagenta;
          "
          >Forgot Password</label
        >

        <div
          class="text-danger font-weight-bold"
          style="color: red; text-align: center"
        >
          <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <lablel for="email"
            >Please enter the email id to send password
          </lablel>
          <input
            type="text"
            required
            placeholder="email"
            name="email"
            value="{{email}}"
            class="form-control"
          />
        </div>
        <button type="submit" class="button">Send</button>
      </form>
    </div>
  </body>
</html>
