<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta content="text/html; charset=utf-8" />
    <link
      href="{{ url_for('static', path='/css/scm_style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body onload="createCaptcha()" class="stylebody">
    <div class="container">
      <div class="row">
        <div style="float: left">
          <img
            src="{{ url_for('static', path='/img/exf_logo.png') }}"
            width="30"
            alt="exf logo"
            style="background-color: white"
          />
        </div>
        <h1
          class="display-5"
          style="text-align: center; color: rgb(67, 161, 223)"
        >
          <span style="background-color: white">SCMXpertlite</span>
        </h1>
      </div>
      <div class="row my-5">
        <form method="POST" class="styleform">
          <div class="mb-3">
            <label
              style="
                display: block;
                text-align: center;
                margin-bottom: 10px;
                font-size: x-large;
              "
              >Login</label
            >
          </div>
          <div
            class="text-danger font-weight-bold"
            style="color: red; text-align: center"
          >
            <ul>
              {% for error in errors %}
              <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mb-3">
            <label>Email<span class="required-field"></span></label>
            <input
              type="text"
              required
              id="email"
              name="email"
              value="{{email}}"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label>Password<span class="required-field"></span></label>
            <input
              type="password"
              required
              id="password"
              value="{{password}}"
              name="password"
              class="form-control"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label
                id="capt"
                style="
                  font-size: larger;
                  color: white;
                  background-color: rgb(82, 39, 4);
                  margin-bottom: 15px;
                "
              ></label>
            </div>
            <div class="form-group col-md-6">
              <label>Enter Captcha<span class="required-field"></span></label>
              <input type="text" class="form-control" id="textinput" />
              <label id="captValidate"></label>
            </div>
          </div>
          <button type="submit" class="button" onclick="validcap()">
            Login
          </button>
          <h4>
            Captcha not visible
            <img
              src="{{ url_for('static', path='/img/refresh.png') }}"
              width="20"
              alt="refersh"
              onclick="createCaptcha()"
            />
          </h4>
          <div class="form-group">
            Forgot Password? <a href="/forgotPassword">Click here</a>
          </div>
          <div class="form-group">
            Don't have an account? <a href="/register">Register</a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function createCaptcha() {
      let value = btoa(Math.random() * 1000000000);
      value = value.substr(0, 5 + Math.random() * 5);
      document.getElementById("capt").innerText = value;
    }
    function validcap() {
      var stg1 = document.getElementById("capt").innerText;
      var stg2 = document.getElementById("textinput").value;
      if (stg1 == stg2) {
        return true;
      } else {
        document.getElementById("captValidate").innerText = "Captcha not valid";
        event.preventDefault();
        return false;
      }
    }
  </script>
</html>
