<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Session Expired</title>
    <meta content="text/html; charset=utf-8" />
    <link
      href="{{ url_for('static', path='/css/scm_style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="stylebody">
    <div class="container">
      <div class="row">
        <div style="float: left">
          <img
            src="{{ url_for('static', path='/img/exf_logo.png') }}"
            alt="exf logo"
            width="30"
            style="background-color: white"
          />
        </div>
        <h1
          class="display-5"
          style="text-align: center; color: rgb(67, 161, 223)"
        >
          <span style="background-color: white">SCMXpertlite</span>
        </h1>
      </div>
      <form class="styleform">
        <label
          style="
            display: block;
            text-align: center;
            margin-bottom: 10px;
            font-size: x-large;
            color: darkmagenta;
          "
          >{{message}}</label
        >
        <div class="text sign-up-text">
          <label>
            <a href="/login" style="color: green" class="button">
              Login
            </a></label
          >
        </div>
      </form>
    </div>
  </body>
</html>
